@import "tailwindcss";

@theme inline {
  --color-sor-orange: #FF7500;
  --color-sor-orange-dark: #e06800;
  --color-fachschule-teal: #013e61;
  --color-fachschule-teal-light: #025080;
  --color-fachschule-cyan: #7cdfff;
  --color-fachschule-cyan-light: #a8ebff;
  --color-dark: #181819;
  --color-light: #F2F2F2;
  --color-white: #FFFFFF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-white);
  color: var(--color-dark);
}
